@page "/Races"
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Dtos
@inject IParticipantService Service
@inject IRaceService RaceService

<h3>Races</h3>
<button class="btn btn-primary" @onclick="AddRace">Register new race</button>
<input @bind="_name"/>

<table>
    @{
        foreach (var race in _races)
        {
            <tr>
                <td>@race.Id</td>
                <td>@race.Name</td>
                <td>@race.StartTime</td>
                <td><button  @onclick="() => ShowResult(race.Id)" class="btn btn-primary">Show result</button></td>
            </tr>
        }
        
    }
</table>

<hr/>

<table>
    <tbody>
    @foreach (var participant in _participants)
    {
        <tr>
            <td>@participant.Id</td>
            <td>@participant.Name</td>
            <td>@participant.Result</td>
        </tr>
    }
    
    </tbody>
</table>



@code {
    private List<ParticipantDto> _participants = new List<ParticipantDto>();
    private List<Race> _races = new List<Race>();
    private string _name = String.Empty;
    

    protected override void OnInitialized()
    {
        _races = RaceService.GetRaces();
        //var race = RaceService.GetRace();
        //_participants = Service.GetParticipants(race.Id);
    }

    private void AddRace()
    {
       RaceService.AddRace(_name); 
    }

    private void ShowResult(int raceId)
    {
        var race = RaceService.GetRace(raceId);
        _participants = Service.GetParticipants(race.Id);
    }
    
    

}
